/*Изменяющаяся часть на каждой странице*/
.article{
	margin-bottom: 15px;
}
.aside .main_menu .first{
	height: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #3ba8c0;
	color: #f9fafb;
}
/***************************************/
/*Блок основной информации*/
.article .basic{
	background-color: #eff3f7;
	border-radius: 5px;	
	margin-bottom: 25px;
	font-family: 'fira_sansbook';
	font-size: 15px;
	color: #37424d;
	padding-bottom: 20px;	
}
.article .title{
	display: inline-block;
	float: left;
	padding: 18px;
	font-size: 27px;
	color: #3ba8c0;
	border-bottom: solid 2px #3ba8c0;
	margin-bottom: 20px;
}
.article .clearfix{
	height: 0;
	clear: both;
	visibility: hidden;
}
.basic .photo{
	display: block;
	float: left;
	margin-left: 21px;
	margin-right: 38px;
	width: 199px;
	height: 198px;
}
.basic .bText{
	line-height: 37px;	
}
.basic .bText span{
	font-family: 'fira_sansmedium';
	font-size: 17px;
	color: #4a545d;
	margin-right: 8px;	
}
.basic .img{
	display: block;
	float: left;
	margin-left: 65px;
	margin-right: 31px;
}
.basic .skill{
	float: left;
}
.basic ul{
	width: 200px;
	padding: 0;
	list-style-type: none;
	posistion: relative;
	margin-left: 425px;
}
.basic ul li{
	display: inline-block;
	height: 17px;
	margin-right: 10px;
	margin-top: 10px;
	padding-top: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background-image: url(../images/skill.png);
	border-radius: 3px;
	font-family: 'proxima_nova_condensedSBd';
	font-size: 14px;
	color: #FFF;
}
.basic .course{
	margin-left: 71px;
	margin-right: 39px;	
}
.basic .bExp{
	font-size: 17px;
	color: #4a545d;	
}
.basic .bExp_l{
	font-family: 'fira_sanslight';
	font-size: 15px;
	color: #687078;
}
.basic .bExp_btm{
	margin-bottom: 35px;
}